<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="slot.css">
    <link rel="shortcut icon" href="images/death2.png">
    <title>Cute Mashine</title>
</head>
<body>

    <header>
        <div class="top-title">
            <h1>Invictus Gaming</h1>
        </div>
    </header>

    <main>
        <div class="mid">
            <div class="mid-left">
                <div class="slot">
                    <div class="mid-title">
                        <h2>Spinning</h2>
                    </div>
                    <div class="mid-content">
                        <div id="column1"></div>
                        <div id="column2"></div>
                        <div id="column3"></div>
                    </div>
                </div>
                <div class="button">
                        <button type="button" value="Random Number!" id="but">PLAY</button>
                        <button type="button" value="Reset" id="but1">RESET</button>
                </div>
            </div>
            <div class="mid-right">
                <div class="result">
                    <div class="img2">
                    </div>
                    <div class="selectedInfo">
                        <p class="info">ID: <span id="info1"></span></p>
                        <p class="info">Name: <span id="info2"></span></p>
                        <p class="info">Sex: <span id="info3"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="bottom"></div>
    </footer>

    <script type="text/javascript" src="slot.js"></script>

</body>
</html>